<% if(errorMessage != null){ %>
    <script>
      showAlert()
      function showAlert() {
            alert("Invalid credentials");
            showLoginModal();
        }
    </script>
<% } %>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="headertext">
        <h1 class="fontcolour">
          A comprehensive platform for<br>reliable
        </h1>
        <h3 class="typewriter">Job Opportunity and internships.</h3>
        <h4>
          Get Discovered Get Hired.
        </h4>
        <a href="/jobs">
          <button class="pink-button">I'm A Job Seeker</button>
        </a>
        <!-- Button to trigger the modal -->
        <% if(locals.userEmail) { %>
          <a href="/jobs"><button class="pink-button">I'm A Recruiter</button></a>
          <% }else{ %>
            <button type="button" class="pink-button" data-toggle="modal" data-target="#register-Modal">I'm A Recruiter</button>
          <% } %> 
      </div>
    </div>
    <div class="col-sm">
      <img class="frontimage" src="/image/job.png" style="max-width: 100%; height: auto;">
    </div>
  </div>
</div>

<!-- Include the recruiter-register-form.ejs content -->
<%- include('./recruiter-register-form.ejs') %>

<!-- Include the recruiter-login-form.ejs content -->
<%- include('./recruiter-login-form.ejs') %>

<!-- Bootstrap JS and dependencies -->

